@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.search {
	display: flex;

	width: 700px;
	padding: 10px 100px;

	border-radius: 56px;
	border: 6px solid #003153;
	background: #FFF;
	color: rgba(0, 0, 0, 0.40);


	font-family: Inter;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;


	justify-content: center;
	align-items: center;
}

.searching{
	display: flex;
}

.button {
	width: 218px;
	height: 88px;
	border-radius: 20px;
	background: #003153;
	color: #FFF;
	font-family: Inter;
	font-size: 29px;
	font-weight: 800;
}

.images {
	width: 100%;
	display: flex;
	justify-content: left;
	padding-top: 50px;
}

.image_1 {
	display: flex;
	justify-content: left;
	width: 100%;
	height: 450px;
	border-radius: 50px 0px 0px 50px;
	background: lightgray 50% / cover no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
}

.image_2 {
	display: flex;
	justify-content: left;
	width: 100%;
	height: 450px;
	background:lightgray 50% / cover no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
}   

.image_3 {
	display: flex;
	justify-content: left;
	width: 100%;
	height: 450px;
	border-radius: 0px 50px 50px 0px;
	background: lightgray 50% / cover no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
}

.dawn {
	border-radius: 50px;
}




.coordinates {
	position: absolute;
	flex-direction: column;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	color: #FFF;
	z-index: 1;
	padding-top: 24px;
	padding-left: 18px;

}

.coordinates_text {
	padding-top: 8px;
}

.date {
	position: absolute;
	flex-direction: column;
	align-self: flex-end;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	color: #FFF;
	z-index: 1;
	padding-block-end: 56px;
	padding-left: 18px;

}

.date_text {
	padding-top: 8px;
}