<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>side</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--	<link rel="stylesheet" href="style.css">-->
</head>

<body>

	<form action="/nigger" method="post">
		<div class="searching">
			<input name="ser" type="text" placeholder="поиск" class="search">
			<input class="button" type="submit" value='search'>
		</div>




	<div class="rectangle">



		<div class="catalog">
			Каталог берегозащитных сооружений
		</div>

		<div class="text">
			какой-то очень важный текст. Очень важный.
		</div>


		 <img class="image_1" src="{{ url_for('static', filename='img/image1.png') }}">
<!--		<img src='bereg.png'>-->
	</div>

	<div class="cards">


		<div class="card">

			<img class="images" src="{{ url_for('static', filename='img/image2.png') }}">
			<div class="card_text">
				<div class="coordinates">
					<div class="coordinates_text">
						Координаты
					</div>

					<div class="coordinates_text">
						09348 1029348 1092384
					</div>
				</div>

				<div class="data">
					<div class="data_text">
						Дата съёмки
					</div>

					<div class="data_text">
						11.14.88	
					</div>
					
				</div>
				
			</div>

			
		</div>


		<div class="card">

			<img class="images" src="{{ url_for('static', filename='img/image2.png') }}">
			<div class="card_text">
				<div class="coordinates">
					<div class="coordinates_text">
						Координаты
					</div>

					<div class="coordinates_text">
						09348 1029348 1092384
					</div>
				</div>

				<div class="data">
					<div class="data_text">
						Дата съёмки
					</div>

					<div class="data_text">
						11.14.88	
					</div>
					
				</div>
				
			</div>

			
		</div>


		<div class="card">

			<img class="images" src="{{ url_for('static', filename='img/image2.png') }}">
			<div class="card_text">
				<div class="coordinates">
					<div class="coordinates_text">
						Координаты
					</div>

					<div class="coordinates_text">
						09348 1029348 1092384
					</div>
				</div>

				<div class="data">
					<div class="data_text">
						Дата съёмки
					</div>

					<div class="data_text">
						11.14.88	
					</div>
					
				</div>
				
			</div>

			
		</div>

		
	</div>

</body>
</html>